<p>snackbar-choose works!</p>

<mat-form-field>
  <mat-label>Horizontal position</mat-label>
  <mat-select [(value)]="horizontalPosition">
    <mat-option value="start">Start</mat-option>
    <mat-option value="center">Center</mat-option>
    <mat-option value="end">End</mat-option>
    <mat-option value="left">Left</mat-option>
    <mat-option value="right">Right</mat-option>
  </mat-select>
</mat-form-field>
<mat-form-field>
  <mat-label>Vertical position</mat-label>
  <mat-select [(value)]="verticalPosition">
    <mat-option value="top">Top</mat-option>
    <mat-option value="bottom">Bottom</mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field>
  <mat-label>Message</mat-label>
  <input matInput value="" #message>
</mat-form-field>

<mat-form-field>
  <mat-label>Action</mat-label>
  <input matInput value="" #action>
</mat-form-field>

<button mat-stroked-button (click)="openSnackBar(message.value, action.value)">Click!</button>

<!--&lt;!&ndash;<button mat-stroked-button (click)="openSnackBar()" aria-label="Show an example snack-bar"> Pool party! </button>&ndash;&gt; //message deja personalisé-->
